<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css" /> 
</head>
<body>
  
<div class="container">
  <div>
  <h1>All Trails</h1>
  <div>
 
	<div>
	<ul>
		<% for(let i = 0; i < trailsList.length ; i++) { %> <li>
			<a href="/trails/<%=trailsList[i].id%>" <h2>Name: <%=trailsList[i].name%></h2></a>
			<h3>Location: <%=trailsList[i].location%></h3>
			<h3>Distance: <%=trailsList[i].distance%></h3>
			<h3>Level: <%=trailsList[i].level%></h3>
			</li>

		<%}%>
	</ul>
 	<div>

 	<div>
 		<button><a href="trails/new">Add a new trail</a></button>
	</div>
		   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- bootstrap bundle -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>