<!DOCTYPE html>
<html>
<head>
<title>Users</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>
<body>
  
    <div class="container">
        <% include ../partials/_navbar.ejs %>
        <h4>Logged in User: <%=message%> </h4>
        <h1>Users - All Users</h1>
        <h3> Todo List for the Users functionality / flow</h3>
        <ul>
            <li>Password not hashed when user/:id/edit route </li>
            <li>Adjust routes to redirect non-logged users</li>
            <li>Place "Login" and "Register" button on the navbar or header of the site</li>
            <li>Make Login and Register disappear after user logs in (replace with logout button)</li> 
            <li>Implement strategy for admin vs regular user.</li>
            <li>Implement oauth Google etc </li>
            <li>Save session to db?</li>
        </ul>

        
        <% for(let i = 0; i < usersList.length; i++) { %>
            <h4>Username (email): <a href="/users/<%= usersList[i].id %>">  <%= usersList[i].username %>  </a> </h4>
            <h4> Display Name: <%= usersList[i].displayname %> </h4>   
            Favorites: 
            <% for (let j = 0; j < usersList[i].trails.length; j++ ) { %>
                <h4> <%=usersList[i].trails[j].name %></h4>
            <% } %>
                         
            <a href="/users/<%= usersList[i].id %>/edit"><button> Edit</button></a>
            <br>
            <br>
        <% } %>
        </br>
        </br>


            <br>
            <br>


        <!-- Button for Login modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
            Login
        </button>
        
        <!-- Button for Register modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
            Register
        </button>
        
        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">User Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-signin" method="POST" action="/users/login">
                            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted">&copy; 2018 KMS</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">User Registration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-signin" method="POST" action="/users/register">
                            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputDisplayName" class="sr-only">Password</label>
                            <input type="displayname" name="displayname" id="inputDisplayName" class="form-control" placeholder="DisplayName" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                            <p class="mt-5 mb-3 text-muted">&copy; 2018 KMS</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- bootstrap bundle -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>