<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body>
      <div>
      <% include ../partials/_navbar.ejs %>
      </div>

      <h1> Bike Edit Page</h1>

      <form action="/bikes/<%=bike.id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%=bike.name%>"><br>
        <input type="text" name="type" value="<%=bike.type%>"><br>
        <input type="text" name="price" value="<%=bike.price%>"><br>
        <input type="text" name="image" value="<%=bike.image%>"><br>
        <button type="submit">Change Bike</button>
      </form>
  </body>

  <!-- ask about how to also change the password from here -->

  </body>
</html>
